[defaults]
inventory = ansible/hosts
roles_path = ansible/roles_galaxy:ansible/roles
legacy_playbook_variables = False
retry_files_enabled = False
timeout = 30
transport = ssh
interpreter_python = /usr/bin/python

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes
