parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: thog
    database_user: thog
    database_password: thog

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_port: 1025
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_delivery_address: []

    secret: ThisTokenIsNotSoSecretChangeIt
    standaard_wachtwoord: lalala
    update_scores_string: lalala
