{% extends 'admin/adminIndex.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <h1>Bestand verwijderen</h1>
        Weet u zeker dat u <span style="color:red; font-weight: bold;">"{{ content.naam }}"</span> wilt verwijderen?
        <table>
            <tr>
                <td>
                    <form method="post" action="{{ path('removeAdminFile', { 'id': app.request.get('id'), 'type': app.request.get('type') }) }}">
                        <input name="bevestig" type="submit" value="Bevestig">
                    </form>
                </td>
                <td>
                    <a href="{{ path('getAdminIndexPage') }}"><input type="button" value="Annuleren"></a>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}