{% extends 'organisatie/base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('organisatieGetContent', { 'page': app.request.get('page') }) }}">
            <img src="{{ asset('images/back_arrow.png') }}"></a>
            Niveau Toevoegen
    </h1>

    <form method="post">
        <table>
            <tr>
                <td>
                    <select name="categorie">
                        <option value="">Selecteer de categorie</option>
                        {% for categorie in categorien %}
                            <option value="{{ categorie }}">{{ categorie }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="niveau" placeholder="Niveau" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Opslaan"/>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}