{% extends 'organisatie/base.html.twig' %}

{% block body %}
    <p>
		<div class="titel">
			<h2>Nieuwste inschrijvingen</h2> 
		</div>
		<div class="bericht">
			<table>
				<tr>
					<td>Turnster 1</td>
					<td> | </td>
					<td>VERENIGING</td>
				</tr>
				<tr>
					<td>Turnster 2</td>
					<td> | </td>
					<td>VERENIGING</td>
				</tr>
			</table>
		</div>
	</p>


{% endblock %}