body {
	background: #262626 url(../images/background4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #000;
	font-family: Calibri, Verdana;
	font-size: 10pt;
}

#container {
	width: 1000px;
}

#header {
	width: 1000px;
}

/* MENU */

#menu {
	width: 100%;
}

#menu a:link, #menu a:visited {
	background: rgba(255,255,0,0.7);
	font-size: 16pt;
	display: block;
	width: 130px;
	margin: 10px;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px;
	
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

#menu a:hover, #menu a:active {
	background: rgba(0,0,0,0.8);
	font-size: 16pt;
	display: block;
	width: 130px;
	margin: 10px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px;
}

#menu #active {
	background: #FFFF00;
	color: #000;
	font-size: 16pt;
	display: block;
	width: 130px;
	margin: 10px;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px;
}

/* INDEX (NON EXISTENT) */

#index {
	width: 900px;
}

#index h2 {
	font-weight: normal;
	margin-top: 3px;
	margin-bottom: 10px;
}

/* LOGIN */

#login {
	background: #FFF;
	width: 400px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	border-radius: 5px;
	
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#login input[type="password"] {
	margin-top: 5px;
	margin-bottom: 5px;
}

#login input[type="submit"] {
	margin-top: 5px;
	margin-bottom: 10px;
}

#login select {
	margin-bottom: 10px;
}

#login h1 {
	background: #212121;
	margin-top: 0;
	font-weight: normal;
	color: #FFF;
	font-size: 12pt;
	padding: .4em;
}
	
#login h2 {
	font-size: 20pt;
	font-weight: normal;
	padding-top: 10px;
	margin-bottom: 10px;
}

/* SCORES - PUBLIEK */

#scores {
	background: #FFF; /*rgba(0,0,0,0.4);*/
	width: 770px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	margin-top: 10px;
	border-radius: 5px;
	color: #000;
	padding: 5px;
	overflow: hidden;
}

#scores h1 { /* Minder margin-bottom dan H2 */
	margin: 10px;
	margin-bottom: 10px;
	font-size: 18pt;
	font-weight: normal;
}

#scores h2 {
	margin: 10px;
	margin-bottom: 20px;
	font-size: 18pt;
	font-weight: normal;
}

#scores table {
	border-collapse: collapse;
	font-size: 12pt;
	margin: 10px;
}

#scores table img {
	float: left;
}

#scores table tr:hover {
	background: #C1C1C1;
}

#scores #toestel:hover {
	background: #FFF;
}

#scores table h2 {
	background: rgba(255,255,0,0.6);
	border-radius: 5px;
	font-size: 18pt;
	text-align: center;
	margin: 0px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100px;
}

#scores th {
	background: #000;
	color: #FFFF00;
	font-weight: bold;
}

#scores #fill {
	height: 20px;
	color: rgba(0,0,0,0);
}

/* UITSLAGEN INDEX */

#uitslagen_index {
	background: #FFF; /*rgba(0,0,0,0.4);*/
	width: 1100px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	margin-top: 10px;
	border-radius: 5px;
	color: #000;
	padding: 5px;
	overflow: hidden;
}

#uitslagen_index h1 { /* Minder margin-bottom dan H2 */
	margin: 10px;
	margin-bottom: 10px;
	font-size: 18pt;
	font-weight: normal;
}

#uitslagen_index h2 {
	margin: 10px;
	margin-bottom: 20px;
	font-size: 18pt;
	font-weight: normal;
}

#uitslagen_index table {
	padding: 5px;
}

#uitslagen_index #categorie {
	background: rgba(255,255,0,0.55);
	font-size: 12pt;
	display: block;
	width: 130px;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

#uitslagen_index a:link, #uitslagen_index a:visited {
	background: rgba(0,0,0,0.4);
	font-size: 12pt;
	display: block;
	width: 100px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

#uitslagen_index a:active, #uitslagen_index a:hover {
	background: rgba(0,0,0,0.7);
	font-size: 12pt;
	display: block;
	width: 100px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
}

/* WEDSTRIJDTAFEL */

#wedstrijdtafel_container {
	width: 770px;
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	margin-top: 10px;
	border-radius: 5px;
	color: #000;
	overflow: hidden;
}

#wedstrijdtafel {
	width: 770px;
	color: #000;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
}

#wedstrijdtafel h1 {
	background: #212121;
	margin-top: 0;
	font-weight: normal;
	color: #FFF;
	padding: .4em;
}

#wedstrijdtafel a:link, #wedstrijdtafel a:visited {
	background: #B2B2B2;
	font-size: 18pt;
	display: inline-block;
	width: 90%;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin: 3px;
}

#wedstrijdtafel a:hover, #wedstrijdtafel a:active {
	background: #212121;
	font-size: 18pt;
	display: inline-block;
	width: 90%;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#wedstrijdtafel #belangrijk {
	background: #E5E109;
}

#wedstrijdtafel #belangrijk:hover {
	background: #212121;
}

#alert {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.8);
	width: 100px;
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	-webkit-animation: pulsate 2s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: pulsate 2s infinite; /* Firefox < 16 */
    -ms-animation: pulsate 2s infinite; /* Internet Explorer */
    -o-animation: pulsate 2s infinite; /* Opera < 12.1 */
    animation: pulsate 2s infinite;
}

#alert .ring {
    border: 3px solid #FFFF00;
    -webkit-border-radius: 30px;
    height: 10px;
    width: 10px;
    -webkit-animation: ring 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

#alert .reason {
	color: #FFFF00;
}

/* ANIMATIONS */

/* ---------------------- */

@keyframes pulsate {
    0% 		{ border: 1px solid rgba(255,0,0,0);}
    50%  	{ border: 1px solid #FF0000; box-shadow: 0px 0px 10px #FF0000;}
	100%	{ border: 1px solid rgba(255,0,0,0); box-shadow: none;}
}

/* Firefox < 16 */
@-moz-keyframes pulsate {
    0% 		{ opacity: 0; }
    50%  	{ opacity: 1; }
	100%	{ opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes pulsate {
    0% 		{ opacity: 0; }
    50%  	{ opacity: 1; }
	100%	{ opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes pulsate {
    0% 		{ opacity: 0; }
    50%  	{ opacity: 1; }
	100%	{ opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes pulsate {
    0% 		{ opacity: 0; }
    50%  	{ opacity: 1; }
	100%	{ opacity: 0; }
}

@-webkit-keyframes ring {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
	70% {opacity: 1;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}