{% extends 'contactpersoon/base.html.twig' %}

{% block body %}
    <div id="inschrijven_controle">
        <h1><a href="{{ path('getContactpersoonIndexPage') }}">
                <img src="{{ asset('images/back_arrow.png') }}"></a>
            Wachtwoord wijzigen</h1>
        Via deze pagina kun je je wachtwoord wijzigen.

        <h4>&#187; Nieuw wachtwoord</h4>

        <form method="post" name="wachtwoord" action="">
            <table class="aanpas_tabel">
                <tr>
                    <td>Wachtwoord</td>
                    <td>
                        <input type="password" name="pass1" placeholder="Wachtwoord" required/>
                    </td>
                </tr>
                <tr>
                    <td>Herhaal wachtwoord</td>
                    <td><input type="password" name="pass2" placeholder="Herhaal wachtwoord" required/></td>
                </tr>
            </table>
            <br/>
            <center>
                <a href="#" id="reserveer_button" onclick="post_wachtwoord()">Opslaan</a>
            </center>
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function post_wachtwoord() {
            document.forms["wachtwoord"].submit();
        }
    </script>
{% endblock %}